{{ if lookPath "delta" -}}
[core]
  pager = "delta"

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
{{ end -}}
[user]
  name = {{ .name }}
  email = {{ .email }}
{{ if eq .chezmoi.os "darwin" -}}
  signingkey = {{ .chezmoi.homeDir }}/.ssh/ssh_signing.pub
{{ end -}}

[init]
  defaultBranch = main

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  defaultKeyCommand = sh -c 'echo key::$(ssh-add -L)'
  allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
