
{{- $name := promptStringOnce . "name" "Name" -}}
{{- $email := promptStringOnce . "email" "Email" -}}
{{- $system := promptChoiceOnce . "system" "What kind of host are you on" (list "client" "server") }}

{{- $headless := false -}}
{{- $is_codespace := false -}}

{{- $go := false -}}
{{- $node := false -}}
{{- $rust := false -}}
{{- $python := false -}}
{{- $java := false -}}
{{- $lua := false -}}

{{- $home := promptBoolOnce . "profiles.home" "Include sensitive home settings" true -}}
{{- $gaming := promptBoolOnce . "profiles.gaming" "Enable gaming features" false -}}
{{- $development := promptBoolOnce . "profiles.development" "Enable developer mode" true -}}
{{- $work := promptBoolOnce . "profiles.work" "Include sensitive work settings" false -}}
{{- $encoding := promptBoolOnce . "profiles.encoding" "Include encoding and production tools and settings" false -}}

{{- $shell := promptChoiceOnce . "defaults.shell" "What shell do you use" (list "fish" "zsh") -}}
{{- $editor := promptChoiceOnce . "defaults.editor" "What is your preferred default editor" (list "nvim" "hx") -}}
{{- $browser := promptChoiceOnce . "defaults.browser" "What is your preferred browser" (list "brave-browser" "safari") -}}
{{- $terminal := promptChoiceOnce . "defaults.terminal" "What is your preferred default terminal" (list "kitty" "iterm2" "wezterm") -}}
{{- $player := promptChoiceOnce . "defaults.player" "What is your preferred default music app" (list "plex" "apple-music") -}}
{{- $notes_app := promptChoiceOnce . "defaults.notes_app" "What is your preferred default note-taking app" (list "logseq" "zk") -}}

{{- if $development -}}
{{-   $node = true -}}
{{-   $python = true -}}
{{- end -}}

{{- if eq $editor "nvim" -}}
{{-   $lua = true }}
{{- end -}}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  system: {{ $system | quote }}

  defaults:
    shell: {{ $shell | quote }}
    editor: {{ $editor | quote }}
    browser: {{ $browser | quote }}
    player: {{ $player | quote }}
    terminal: {{ $terminal | quote }}
    notes_app: {{ $notes_app | quote }}

  flags:
    headless: {{ $headless }}
    is_codespace: {{ $is_codespace }}
{{ if eq .chezmoi.os "darwin" }}
  homebrew:
    prefix: "{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}"
{{ end }}
  languages:
    go: {{ $go }}
    node: {{ $node }}
    rust: {{ $rust }}
    python: {{ $python }}
    java: {{ $java }}
    lua: {{ $lua }}

  profiles:
    home: {{ $home }}
    gaming: {{ $gaming }}
    development: {{ $development }}
    work: {{ $home }}
    encoding: {{ $encoding }}
