#!/usr/bin/env zsh

{{ .homebrew.prefix }}/bin/brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.extras -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ if .profiles.encoding -}}
{{  range .packages.darwin.media_casks -}}
cask {{ . | quote }}
{{  end -}}
{{ end -}}
{{ if .profiles.gaming -}}
{{  range .packages.darwin.gaming_casks -}}
cask {{ . | quote }}
{{  end -}}
{{ end -}}
EOF

